[user]
    name = AUTHORNAME
    email = AUTHOREMAIL
    signinkey = AUTHORSIGNINKEY
[credential]
    helper = GIT_CREDENTIAL_HELPER
[alias]
    c = commit -m
    s = status
    l = log
[push]
    autoSetupRemote = true
