# EditorConfig is awesome: https://EditorConfig.org

# Top-most EditorConfig file
root = true

# Todos los archivos
[*]
indent_style = space
indent_size = 2

[Makefile]
indent_style = tab
indent_size = 2

# Excluir ciertos archivos o patrones de archivos
# [*.md]
# indent_style = space
# indent_size = 2
